.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.full {
  grid-column: 1 / -1;
}
